* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

.el-popper {
  min-width: 50px !important;
  padding: 5px 10px !important;
  width: initial !important;
}
